@model IEnumerable<ProyectoASP_Noe_Bor.Models.ArticleViewModel>

@{
    ViewData["Title"] = "Articles";
}

<h2>Articles</h2>

<p>
    <a asp-action="Create" asp-controller="Articles">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <img src="~/images/@item.Imagen" width="120" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Articles", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", "Articles", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", "Articles", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
