@model ProyectoASP_Noe_Bor.Models.BillViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Shopping Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineasFactura.First().Producto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineasFactura.First().Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineasFactura.First().Subtotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LineasFactura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Checkout" asp-controller="Cart" class="btn btn-success" >Checkout</a>
</div>
